* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}
img {
  width: 100%;
  height: 100%;
}
.overall-container {
  color: white;
  display: grid;
  grid-template-rows: repeat(6, auto);
  font-family: 'dongle';
}

/*Inicio*/

.container-header {
  background-image: url('img/fondo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#container-logo {
  padding-top: 20px;
  font-family: 'old';
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#container-menu > a {
  text-decoration: none;
  color: white;
}
#container-text {
  padding: 30px 300px;
  font-family: 'old';
  font-size: 40px;
  text-align: center;
}
#container-get {
  font-size: 15px;
  text-align: center;
}
#container-scroll {
  font-size: 15px;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 20px;
}

/*Imagenes*/

.container-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.container-images > img {
  width: 100%;
  height: 100%;
}
.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-text > p {
  text-align: center;
  padding: 10px;
}
.title-content-image {
  font-family: 'old';
  font-size: 15px;
}
.text-content-image {
  font-family: '';
  font-size: 40px;
  margin-left: 50px;
  margin-right: 50px;
}
#orange {
  background: #ecad5e;
}
#pink {
  background: #f8b5ac;
}
#brown {
  background: #d78959;
}

#green {
  background: #556848;
}

/*contenedor blanco*/

.container-white {
  background: #f1f1ed;
  color: black;
  text-align: center;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#images-content-white {
  width: 600px;
  height: 400px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

/*contenedor rosado*/

.container-pink {
  background: #f8b5ac;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-pink > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*contenedor caja blanca 2*/

.container-white2 {
  background: white;
  padding: 50px;
}
#text-container-white2 {
  padding: 30px;
  color: black;
  text-align: center;
}
#image-container-white2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#box-orange {
  padding: 5px;
  background: #ecad5e;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
}
.container-title {
  font-size: 10px;
}
.container-content {
  font-size: 20px;
}
.container-text {
  font-size: 10px;
}
#box-pink {
  background: #f8b5ac;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
}

/*Footer*/

footer {
  background: #c7c7c7;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footer-text-chat {
  font-size: 50px;
  font-family: 'old';
}
#text-box-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*fuentes*/
@font-face {
  font-family: 'old';
  src: url('libs/fonts/old-standard-tt/OldStandardTT-Italic.ttf');
}
@font-face {
  font-family: 'dongle';
  src: url('libs/fonts/dongle/Dongle-Regular.ttf');
}
@font-face {
  font-family: 'playfair-display';
  src: url('libs/fonts/playfair-display/');
}
